body{
    background-color: rgb(49, 51, 75);
}

.container{
    background-color: #fff;
    border-radius: 10px;
}

.list-group-item{
    margin-bottom: 10px;
}

.nome-produto {
    margin-right: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}


.buttons-container .btn {
    font-size: 14px; 
    padding: 6px 12px; 
    border-radius: 4px;
}